<h1 class="mt-5">ADD URL</h1>
<%= form_tag("/urls/create_url") do %>
  <div class="form-group mt-5">
    <label >タイトル</label>
    <input class="form-control" name="title">
  </div>
  <div class="form-group">
    <label >URL</label>
    <textarea class="form-control" name="url"></textarea>
  </div>
  <div class="form-group">
    <label>カテゴリー</label>
      <select name="category" class="form-control">
        <% @categories.each do |category| %>
        <option ><%= category.name %></option>
        <% end %>
      </select>
  </div>
<div class="text-right">
  <button type="submit" class="btn btn-outline-dark" >送信</button>
</div>
<% end %>
